<div class="container d-flex flex-wrap justify-content-center text-center" >
    <div class="m-5 iframe">
        <h2 class="titulo">Tutoriales Para aprender a armar cubos de rubik</h2>

        <h3>Categoria: 2x2</h3>
        <iframe  
            width="800" height="450" src="https://www.youtube.com/embed/eXD3NUQo7Zw" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

    <div class="m-5 iframe">
        <h3>Categoria: 3x3</h3>
        <iframe  
            width="800" height="450" src="https://www.youtube.com/embed/GyY0OxDk5lI" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

    <div class="m-5 iframe">
        <h3>Categoria: 4x4</h3>
        <iframe  
            width="800" height="450" src="https://www.youtube.com/embed/d_4xk1r9hxU" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

    <div class="m-5 iframe">
        <h3>Categoria: piraminx</h3>
        <iframe  
            width="800" height="450" src="https://www.youtube.com/embed/4cJJe9RAzAU" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    
    <div class="m-5 iframe">
        <h3>Categoria: megaminx</h3>
        <iframe  
            width="800" height="450" src="https://www.youtube.com/embed/xuKbT6Il0Ko" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    
    <div class="m-5 iframe">
        <h3>Categoria: mirror</h3>
        <iframe  
            width="800" height="450" src="https://www.youtube.com/embed/ZTkunMo51l0" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    
</div>